In [16]:
import pandas as pd
import numpy as np

airtraffic = pd.read_csv('Air_Traffic_Passenger_Statistics (1).csv')
airtraffic.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July

In [17]:
airtraffic = airtraffic.drop(columns=['Activity Period', 'Operating Airline','Operating Airline IATA Code','Terminal','Boarding Area','Adjusted Activity Type Code','Adjusted Passenger Count'])

In [18]:
airtraffic.head()

,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Passenger Count,Year,Month
0,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,27271,2005,July
1,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,29131,2005,July
2,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,5415,2005,July
3,Air Canada,AC,International,Canada,Deplaned,Other,35156,2005,July
4,Air Canada,AC,International,Canada,Enplaned,Other,34090,2005,July

In [21]:
airtraffic['Published Airline'].unique()

array(['ATA Airlines', 'Air Canada ', 'Air China', 'Air France',
       'Air New Zealand', 'AirTran Airways', 'Alaska Airlines',
       'All Nippon Airways', 'American Airlines', 'Asiana Airlines',
       'Delta Air Lines', 'BelAir Airlines', 'British Airways',
       'Cathay Pacific', 'China Airlines', 'EVA Airways',
       'Frontier Airlines', 'Hawaiian Airlines', 'Icelandair',
       'Independence Air', 'Japan Airlines', 'KLM Royal Dutch Airlines',
       'Korean Air Lines', 'Lufthansa German Airlines', 'US Airways',
       'Mexicana Airlines', 'Midwest Airlines', 'Northwest Airlines',
       'Philippine Airlines', 'Singapore Airlines',
       'United Airlines - Pre 07/01/2013', 'Sun Country Airlines', 'TACA',
       'United Airlines', 'Virgin Atlantic', 'WestJet Airlines',
       'Boeing Company', 'Miami Air International', 'Qantas Airways',
       'Ameriflight', 'Spirit Airlines', 'Xtra Airways',
       'Evergreen International Airlines', 'Aeromexico',
       'JetBlue Airways ', 'Southwest Airlines', 'Virgin America',
       'Aer Lingus', 'Allegiant Air', 'Jet Airways', 'Emirates ',
       'World Airways', 'Air Berlin', 'Republic Airlines', 'Servisair',
       'Pacific Aviation', 'Swiss International', 'LAN Peru',
       'Swissport USA', 'XL Airways France', 'China Eastern',
       'SAS Airlines', 'Atlas Air, Inc', 'Etihad Airways',
       'China Southern', 'Turkish Airlines', 'COPA Airlines, Inc.',
       'Air India Limited'], dtype=object)

In [24]:
airtraffic = airtraffic.replace('United Airlines - Pre 07/01/2013','United Airlines')

In [25]:
airtraffic['Published Airline'].unique()

array(['ATA Airlines', 'Air Canada ', 'Air China', 'Air France',
       'Air New Zealand', 'AirTran Airways', 'Alaska Airlines',
       'All Nippon Airways', 'American Airlines', 'Asiana Airlines',
       'Delta Air Lines', 'BelAir Airlines', 'British Airways',
       'Cathay Pacific', 'China Airlines', 'EVA Airways',
       'Frontier Airlines', 'Hawaiian Airlines', 'Icelandair',
       'Independence Air', 'Japan Airlines', 'KLM Royal Dutch Airlines',
       'Korean Air Lines', 'Lufthansa German Airlines', 'US Airways',
       'Mexicana Airlines', 'Midwest Airlines', 'Northwest Airlines',
       'Philippine Airlines', 'Singapore Airlines', 'United Airlines',
       'Sun Country Airlines', 'TACA', 'Virgin Atlantic',
       'WestJet Airlines', 'Boeing Company', 'Miami Air International',
       'Qantas Airways', 'Ameriflight', 'Spirit Airlines', 'Xtra Airways',
       'Evergreen International Airlines', 'Aeromexico',
       'JetBlue Airways ', 'Southwest Airlines', 'Virgin America',
       'Aer Lingus', 'Allegiant Air', 'Jet Airways', 'Emirates ',
       'World Airways', 'Air Berlin', 'Republic Airlines', 'Servisair',
       'Pacific Aviation', 'Swiss International', 'LAN Peru',
       'Swissport USA', 'XL Airways France', 'China Eastern',
       'SAS Airlines', 'Atlas Air, Inc', 'Etihad Airways',
       'China Southern', 'Turkish Airlines', 'COPA Airlines, Inc.',
       'Air India Limited'], dtype=object)

In [26]:
airtraffic['Published Airline IATA Code'].unique()

array(['TZ', 'AC', 'CA', 'AF', 'NZ', 'FL', 'AS', 'NH', 'AA', 'OZ', 'DL',
       '4T', 'BA', 'CX', 'CI', 'BR', 'F9', 'HA', 'FI', 'DH', 'JL', 'KL',
       'KE', 'LH', 'US ', 'MX', 'YX', 'NW', 'PR', 'SQ', 'UA', 'SY', 'TA',
       'VS', 'WS', nan, 'GL', 'QF', 'A8', 'NK', 'XP', 'EZ', 'AM', 'B6',
       'WN', 'VX', 'EI', 'G4', '9W', 'BBB', 'EK', 'WO', 'AB', 'RW', 'LX',
       'LP', 'SE', 'MU', 'SK', '5Y', 'EY', 'CZ', 'TK', 'CM', 'AI'],
      dtype=object)

In [27]:
airtraffic['GEO Summary'].unique()

array(['Domestic', 'International'], dtype=object)

In [28]:
airtraffic['GEO Region'].unique()

array(['US', 'Canada', 'Asia', 'Europe', 'Australia / Oceania', 'Mexico',
       'Central America', 'Middle East', 'South America'], dtype=object)

In [29]:
airtraffic['Activity Type Code'].unique()

array(['Deplaned', 'Enplaned', 'Thru / Transit'], dtype=object)

In [30]:
airtraffic['Price Category Code'].unique()

array(['Low Fare', 'Other'], dtype=object)

In [39]:
print(airtraffic.isnull().sum())

Published Airline               0
Published Airline IATA Code    54
GEO Summary                     0
GEO Region                      0
Activity Type Code              0
Price Category Code             0
Passenger Count                 0
Year                            0
Month                           0
dtype: int64

In [40]:
airtraffic = airtraffic.drop(columns=['Published Airline IATA Code'])

In [43]:
airtraffic = airtraffic[['Month','Year','Published Airline','Passenger Count','GEO Summary','GEO Region','Activity Type Code','Price Category Code']]

In [44]:
airtraffic.head()

,Month,Year,Published Airline,Passenger Count,GEO Summary,GEO Region,Activity Type Code,Price Category Code
0,July,2005,ATA Airlines,27271,Domestic,US,Deplaned,Low Fare
1,July,2005,ATA Airlines,29131,Domestic,US,Enplaned,Low Fare
2,July,2005,ATA Airlines,5415,Domestic,US,Thru / Transit,Low Fare
3,July,2005,Air Canada,35156,International,Canada,Deplaned,Other
4,July,2005,Air Canada,34090,International,Canada,Enplaned,Other